@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 태그에 대한 디자인 */
h1 {
    font-family: TheJamsil5bold;
    font-size: 2rem;
    margin: 10px 0;
}

/* 각각 id에 따른 디자인 */
#clock {
    font-size: 2.5rem;
    text-align: center;
    margin: 30px 0;
    color: white;
    text-shadow: 0 0 5px black;
}
#greeting, #login-form, #todo-form {
    text-align: center;
}

/* todolist 디자인 */
#todolist {
    margin: auto; /* 중앙정렬 */
    max-width: 500px;
    margin-top: 20px;
    padding: 0 30px;
}
#todolist li {
    font-family: 'KyoboHandwriting2021sjy';
    clear: both;
    margin: 5px 0;
    /*display: flex;
    justify-content: space-between;*/
    font-size: 1.5rem;
    color : white;
}
#todolist li span {
    float: right;
    margin-top: 8px;
    font-size: 0.7rem;
    position: relative;
    right: 20px;
}
#todolist li button {
    background-color: transparent;
    border: solid black 1px;
    border-radius: 20px;
    padding: 2px 5px;
    cursor: pointer;
}

/* input[type='text'], [type='submit']*/
input[type='text'] {
    font-family: 'KyoboHandwriting2021sjy';
    background-color: transparent;
    border: none;
    border-bottom: white 1px solid;
}
input[type='text']:focus {
    outline: none; 
}
input[type='text']::placeholder{
    color: rgba(255, 255, 255, 0.7)
}

/* 버튼 디자인 */
input[type='text']+input[type='submit'] {
    background-color: lightgray;
    border: none;
    border-radius: 20px;
    padding: 5px 7px;
}
/* 버튼에 마우스를 올렸을때 */
input[type='text']+input[type='submit']:hover {
    background-color: aquamarine;
}

/* 태그를 숨기기 위해 작성 */
.hidden {
    display: none;
}